body {
    background-color: azure;
/*	background-image: url(night-72871_640.jpg);*/
}
h1 {
    color: darkmagenta;
    text-align: center;
    font-size: 2;
	font-family: inherit;
}
p {
	color: darkslateblue;
	margin-left: 20px;
	font-size: 1.25;
	vertical-align: middle;
}